---
layout: default
title: TomHoover.com
---

<div id="home">

  {% for post in site.posts limit:5 %}
  <div class="post">	
    <h2><a href="{{ post.url }}">{{post.title}}</a></h2>
    <span class="date">{{ post.date | date:"%B %d, %Y" }}</span>
    {{ post.content }}
  </div>
  {% endfor %}
  <div id="related">
    <h2>Previous posts</h2>
    <ul class="posts">
      {% for post in site.posts offset:5 limit:5 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div>
    <h2>Older posts... (see <a href="/archive/">archive</a> for more)</h2>
    <p>
  </div>
</div>

